<!DOCTYPE html>
<html>
<head>
  <title><%= title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>
Copyright &copy; 2013 by mallowlabs.
</footer>
</body>
</html>
